{{!
---
module: slider
---
}}

<ui-slider class="slider{{#if options.sliderModifierClass}}--{{options.sliderModifierClass}}{{/if}}{{#if options.sliderClasses}} {{options.sliderClasses}}{{/if}}" data-css="m-slider"{{#if options.sliderOptions}} data-js-options='{ {{#each options.sliderOptions}}"{{options.sliderKey}}": "{{{options.sliderValue}}}"{{#if @last}}{{else}}, {{/if}}{{/each}} }'{{/if}}>

	<div class="slider__actions" data-js-atom="slider-actions">
		{{#each options.sliderCta}}
			{{> c-cta }}
		{{/each}}
	</div>

	<div class="slider__list-wrapper" data-js-atom="slider-wrapper">
		<div class="slider__list" data-js-atom="slider-ribbon">
			{{{yield}}}
		</div>
	</div>

	<div class="slider__pagination" data-js-atom="slider-pagination">
		<ol class="slider__pagination-list" data-js-atom="slider-pagination-list">
		</ol>
	</div>

</ui-slider>