---
module: button
---

<ui-button class="m-button{{#if btnModifierClass}}--{{btnModifierClass}}{{/if}}{{#if btnClasses}} {{btnClasses}}{{/if}}"
		data-css="m-button"
		data-js-options='{
		{{#if btnContext}}"context": "[data-js-context=\"{{btnContext}}\"]", {{/if}}
		{{#each btnOptions}}"{{btnKey}}": "{{{btnValue}}}"{{#if @last}}{{else}}, {{/if}}{{/each}}
		}'>
	{{#if btnContent}}
		<span class="button__text {{#if ../btnContentAddition}}is-more{{/if}} {{../btnTextClasses}}">{{btnContent}}</span>
	{{/if}}
	{{#if btnContentAddition}}
		<span class="button__text is-less {{../btnTextClasses}}">{{btnContentAddition}}</span>
	{{/if}}
</ui-button>